main > div{
  width: 94%;
  /* background-color: green; */
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
}
.container h2{
  text-align: center;
  color: #333;
}
form{
  margin: 1.8rem 0 1rem 0;
}
form .form-group{
  margin: 1rem 0;
}
.form-group label{
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  display: block;
  font-weight: 600;
  color: #555;
}
.form-group input, .form-group select, .form-group textarea{
  width: 100%;
  padding: .45rem .55rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: border 0.5s ease-in-out;
}

.form-group input:focus, .form-group select:focus, .form-group textarea:focus, .form-group input:hover, .form-group select:hover, .form-group textarea:hover{
  border-color: #ddd;
  outline: none;
}
.error-message{
  font-size: 0.8rem;
  color: red;
  margin-left: 6px;
}
.error input, .error select, .error textarea{
  border: 1px solid red;
  /* transition: 0.3s ease-in-out; */
}
.success input, .success select, .success textarea{
  border: 1px solid green;
  /* transition: 0.3s ease-in-out; */
} 
form button{
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: .65rem .65rem .75rem .65rem;
  text-align: center;
  background-color: #4caf50;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
form button:hover{
  background-color: #45a049;
}